<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.country">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ActivitiesNav.forElections.ResultActivities.city_votes"
            android:parentActivityName=".ActivitiesNav.results"
            ></activity>
        <activity
            android:name=".ActivitiesNav.forElections.ResultActivities.all_mayor_votes"
            android:parentActivityName=".ActivitiesNav.results" />
        <activity
            android:name=".ActivitiesNav.forElections.ResultActivities.all_ver_votes"
            android:parentActivityName=".ActivitiesNav.results" />
        <activity
            android:name=".ActivitiesNav.forElections.ResultActivities.all_president_votes"
            android:parentActivityName=".ActivitiesNav.results" />
        <activity
            android:name=".ActivitiesNav.update_pass_profile"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".Intro"/>
        <activity
            android:name=".ActivitiesNav.edit_profile_act"
            android:parentActivityName=".ActivitiesNav.profile_act" />
        <activity
            android:name=".email"
            android:parentActivityName=".mainmenu" />
        <activity
            android:name=".phone"
            android:parentActivityName=".mainmenu" />
        <activity android:name=".register_window" />
        <activity
            android:name=".ActivitiesNav.forElections.VerkhovnaRadaElection"
            android:parentActivityName=".ActivitiesNav.election_act" />
        <activity
            android:name=".ActivitiesNav.results"
            android:parentActivityName=".mainmenu" />
        <activity
            android:name=".ActivitiesNav.forElections.president_election"
            android:parentActivityName=".ActivitiesNav.election_act" />
        <activity
            android:name=".ActivitiesNav.forElections.city_elections"
            android:parentActivityName=".ActivitiesNav.election_act" />
        <activity
            android:name=".ActivitiesNav.forElections.mayor_elections"
            android:parentActivityName=".ActivitiesNav.election_act" />
        <activity
            android:name=".ActivitiesNav.profile_act"
            android:parentActivityName=".mainmenu" />
        <activity
            android:name=".ActivitiesNav.election_act"
            android:parentActivityName=".mainmenu" />
        <activity android:name=".mainmenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>